{% extends 'base.html' %}

{% block body %}
<!-- method="GET" : Default -->
<!-- method="POST" : C,U,D는 DB의 조작이 필요하므로 검증 토큰이 필요함. -->
 <!-- RESTful한 URL : 명사로만 구성 -->

<form action="{% url 'articles:create' id=article.id %}" method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input type="text" id="title" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea name="content" id="content" class="form-control" rows="10" ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}